.errorPage {
    color: #00bc77;
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.errorTitle {
    font-size: 100px;
}

.errorText {
    color: #00bc77;
    font-size: 36px;
    font-weight: 500;
}

.errorPage a {
    font-size: 16px;
    color: black;
    text-decoration: underline;

}

@media screen and (max-width: 700px) {
 .errorTitle {
        font-size:50px ;
    }
    .errorText {
        font-size: 20px;
    }
}

@media only screen and (width <=425px) {
    .errorTitle {
        font-size: 30px;
    }
    .errorText{
        font-size: 15px;
    }
}